*{
    box-sizing: border-box; 
}
body{

    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 2000px;
    background: #ebebeb;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}